.private {
  color: darken(red, 20%);
}

.public {
  color: darken(green, 8%);
}

.reveal .slides section h2 {
  color: darken(white, 20%);
}

.reveal .slides section .fragment.visible {
  color: darken(white, 40%);

  &.current-fragment {
    color: white;

    .private {
      color: red;
    }

    .public {
      color: green;
    }
  }
}
